<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063946903752-1vtomlok9uq4v7kn6ul2s82ci8noaut5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063946903752-1vtomlok9uq4v7kn6ul2s82ci8noaut5</string>
	<key>API_KEY</key>
	<string>AIzaSyD1V5GR71qEX3h0VKsjD_BNfaNZZfqZ6yI</string>
	<key>GCM_SENDER_ID</key>
	<string>1063946903752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthtrack</string>
	<key>PROJECT_ID</key>
	<string>healthtrack-30662</string>
	<key>STORAGE_BUCKET</key>
	<string>healthtrack-30662.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063946903752:ios:69b3ac2a5582c68f6f05fd</string>
	<key>DATABASE_URL</key>
	<string>https://healthtrack-30662-default-rtdb.firebaseio.com</string>
</dict>
</plist>